.index-content {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 16px;

    .search {
        position: relative;
    }

    .content-area {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 16px;
        margin-top: -32px;
        width: 100%;
        height: calc(100% - 72px);
        overflow: auto;

        .location-item {
            padding: 16px;
            position: relative;
            box-sizing: border-box;

            .expand-btn {
                position: absolute;
                top: 8px;
                right: 8px;
                transition: transform 0.2s;

                &.expanded {
                    transform: rotate(180deg);
                }
            }

            .location-children {
                padding: 8px;
            }
        }

        .service-item {
            position: relative;
            padding: 16px;
            padding-left: 64px;

            .icon {
                position: absolute;
                top: 50%;
                left: 16px;
                transform: translate(0, -50%);
            }

            .service-name {
                font-size: 16px;
            }

            .category-name {
                font-size: 12px;
                opacity: 0.6;
            }
        }

        .service-item-create {
            position: relative;
            padding: 16px;

            .category-select {
                width: calc(max(128px, 15%) + 0px);
            }
        }
    }
}